{% load permission_tags %}

<header class="navbar__wrapper">
    <div class="container">
        <nav class="navbar">
            <a class="navbar__link" href="{% url 'home' %}"><span class="orange">А</span>льфа</a>

            <ul class="profile">
                <li class="profile__item"><a class="profile__link" href="{% url 'home' %}" class="">Главная</a></li>
                {% if request.user|has_role:'office_manager' %}
                    <li class="profile__item"><a class="profile__link" href="{% url 'user-list' %}" class="">Пользователи</a></li>
                {% endif %}
                <li class="profile__item name"> {{ request.user.username }} </li>
                <li class="profile__item">
                    <a class="profile__link" href="{% url 'logout' %}" class="">Выйти</a>
                </li>
            </ul>
        </nav>
    </div>
</header>