body, html {
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    overflow: scroll;
}

h1 {
    margin-bottom: 20px;
}



.mt-20 {
    margin-top: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}

.p-10 {
    padding: 10px;
}
.center {
    text-align: center;
}
.confirm {
    list-style: none;
}

.confirm__item {
    margin: 6px 24px;
    padding: 12px 24px;
    border: 1px solid #032957;
    border-radius: 4px;
}
.confirm__item:first-of-type {
    margin-top: 0;
}

.confirm__item:last-of-type {
    margin-bottom: 0;
}


.confirm__item p {
    margin-bottom: 6px;
}

.confirm__btn {
    display: flex;
    justify-content: space-around;
}

.alert {
    font-size: 12px;
    color:#720c29;
}
.btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #fff;
    border: none;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 10px;
}

.btn-success {
    background-color: #00630e;
    color: #fff
}

.btn-danger {
    background-color: #720c29;
    color: #fff
}

.orange {
    color: #fd7e14;
}

.form {
    margin-top: 20px;
}

.form input, .form textarea {
    display: block;
}

.form__group {
    position: relative;
    margin-bottom: 12px;
}
.page__form {
    height: 100%;
}
.login-form__wrapper {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px 20px;
    width: 20%;
    min-width: 310px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 2px 6px 10px #364b67;
}

.login-form .form__group {
    position: relative;
    margin-bottom: 10px;
}

.login-form input {
    width: 100%;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    padding: 10px 16px;
    z-index: 1;
}

.login-form .form__label {
    font-size: 14px;
    text-transform: capitalize;
    color: #7d7d7d;
}

.name {
    text-transform: capitalize;
}

.navbar__link {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar__wrapper {
    background-color: #064CDB;
    font-weight: 200;
    margin-bottom: 20px;
    padding: 20px 0;
    position: relative;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.menu, .profile{
    display: flex;
    margin: 0;
}

.menu__item, .profile__item {
    list-style-type: none;
    color: #fff;
    padding: 0 20px;
    font-size: 12px;
}

.menu__link, .profile__link  {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.grid-sidebar {
    display: grid;
    grid-template-areas:
    "room room room sidebar"
}

.room__wrapper {}
.room__wrapper-sidebar {
    grid-area: room;
}

.sidebar {
    grid-area: sidebar;
}

.room {
    list-style-type: none;
}

.room__item {
    border-bottom: 1px solid #022067;
}

.room__item:last-of-type {
    border-bottom: none;
}
.room__title {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.room__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
}
.room__link:hover {
    background-color: #d7eaff;
}
.room__equip {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.room__img {
    width: 60px;
    height: 60px;
    margin-left: 20px;
}
.room__img:first-of-type {
    margin-left: 0;
}
.projector {
    background: url("../img/icons/projector.svg") no-repeat center;
    background-size: cover;
}
.board {
    background: url("../img/icons/board.svg") no-repeat center;
    background-size: cover;
}

.equip {
    border-top: 1px solid #0a0a0a;
    border-bottom: 1px solid #0a0a0a;
}

.equip__item {
    padding: 5px 40px;
    position: relative;
    border-bottom: 1px solid #0a0a0a;
}

.equip__item:last-of-type {
    border-bottom: none;
}
.equip__item.stock::before {
    position: absolute;
    left: 5px ;
    content: "";
    background-image: url('../img/icons/check.svg');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.equip__item::after {
     position: absolute;
    left: 30px ;
    content: "";
    width: 2px;
    height: 20px;
    background-color: #0a0a0a;
}
.description {
    padding: 10px;
    margin-bottom: 20px;
}

.reservation {
    list-style: none;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #0a0a0a;
}

.reservation__item {
    padding: 10px;
    border-top: 1px solid #0a0a0a;
}

.reservation__btn {
    margin-bottom: 10px;
}

.footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-edit {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-image: url("../img/icons/edit.svg");
}

.title {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
}
.confirm_requests {
    margin-bottom: 20px;
}

.users {
    width: 100%;
}

.users th {
    font-size: 14px;
}
.users_item {
    margin-bottom: 10px;
    font-size: 13px;
}

.menu-btn {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -1px;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #064CDB;
}
.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
    transition: 0.5s;
}
.menu-btn span::after {
    transform: translateY(-5px);
}
.menu-btn span::before {
    transform: translateY(5px);
}
.menu-btn__active span::after {
    transform-origin: left bottom;
    width: 10px;
    transform: rotate(35deg);
}
.menu-btn__active span::before {
    transform-origin: left top;
    width: 10px;
    transform: rotate(-35deg);
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
.container {
        max-width: 750px;
    }
    .room__img {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }
    .grid-sidebar {
        display: grid;
        grid-template-areas:
            "sidebar"
            "room";
    }
    .room__img {
        width: 30px;
        height: 30px;
    }
    textarea {
        width: 100%;
    }
    .menu-btn {
        display: block;
    }
    .profile {
        margin-top: 35px;
        padding-top: 30px;
        position: fixed;
        flex-direction: column;
        height: 100%;
        background-color: #064CDB;
        transition: 0.5s;
        transform-origin: right center;
        transform: scaleX(0) translateX(20%);
        opacity: 0;
        right: 0;
    }
    .profile_active {
        display: block;
        transform: scaleX(1) translateX(0%);
        opacity: 1;
        z-index: 10;
    }
    .profile_active .profile__item {
        margin-bottom: 15px;
        font-size: 16px;
    }

}